<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="D:\home\python310\python.exe" arguments="-m gunicorn --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 backend.app.main:app" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\stdout.log" startupTimeLimit="60">
    </httpPlatform>
  </system.webServer>
</configuration>
